<style>
.box{
    background-color: #f6f6f6;
    }
</style>
<div class="box">
{% if site.data.nextmeeting.url %}
<p class="title is-3" style="text-align:center"><a href="{{ site.data.nextmeeting.url }}">{{ site.data.nextmeeting.title }}</a></p>
{% else %}
<p class="title is-3" style="text-align:center">{{ site.data.nextmeeting.title }}</p>
{% endif %}
<p style="font-size:22px;text-align:center">{{ site.data.nextmeeting.month }} {{ site.data.nextmeeting.day }}{% if site.data.nextmeeting.time != nil %} at {{ site.data.nextmeeting.time }}{% endif %}<br></p>
<p style="font-size:12px;text-align:center">{{ site.data.nextmeeting.location }}<br>{{ site.data.nextmeeting.address }}
{% if site.data.nextmeeting.room %}
<br>{{ site.data.nextmeeting.room }} meeting room
{% endif %}</p>
</div>
<div class="has-text-centered">
</div><br>       

{% include image-modal.html ratio="is-3by4" link="/img/PCDP_HQ_thumb.jpg" alt="Picture of our headquarters" large_link="/img/PCDP_HQ_large.jpg" %}
<h2 class="title is-3 has-text-centered">
Office Hours
</h2>
<p>We're currently not holding regular office hours. <br>Please call to make an appointment if you want to pay us a visit.</p>


      

       

        
        
        
        
        
        
        
       


      
        
        
        
        
  



  
        
        
        
      


      
    
    
    
    
    
  

  
        
        
        
        
        
      

      
        
        
        
        
        
      

      
        
        
        
        
        
      

       

        
        
        
        
       

       
        
        
        
        
      

      
        
        
        
        
        
        
        
       

    

    


      


      

      
      

      

      





    

      
  
