<style>
.box{
    background-color: #f6f6f6;
    }
</style>
<div class="box">
{% if site.data.nextmeeting.url %}
<p class="title is-3" style="text-align:center"><a href="{{ site.data.nextmeeting.url }}">{{ site.data.nextmeeting.title }}</a></p>
{% else %}
<p class="title is-3" style="text-align:center">{{ site.data.nextmeeting.title }}</p>
{% endif %}
<p style="font-size:22px;text-align:center">{{ site.data.nextmeeting.month }} {{ site.data.nextmeeting.day }}{% if site.data.nextmeeting.time != nil %} at {{ site.data.nextmeeting.time }}{% endif %}<br></p>
<p style="font-size:12px;text-align:center">{{ site.data.nextmeeting.location }}<br>{{ site.data.nextmeeting.address }}
{% if site.data.nextmeeting.room %}
<br>{{ site.data.nextmeeting.room }} meeting room
{% endif %}</p>
</div>
<div class="has-text-centered">
</div><br>       

<h2 class="title is-3 horizontal-line">
Get Involved!
</h2>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    portalId: "47861512",
    formId: "955cd7f0-3fe5-4aab-9fa7-7c136b0fc024"
  });
</script>


      

       

        
        
        
        
        
        
        
       


      
        
        
        
        
  



  
        
        
        
      


      
    
    
    
    
    
  

  
        
        
        
        
        
      

      
        
        
        
        
        
      

      
        
        
        
        
        
      

       

        
        
        
        
       

       
        
        
        
        
      

      
        
        
        
        
        
        
        
       

    

    


      


      

      
      

      

      





    

      
  
